

body {
  margin: 0;
  font-family: Georgia, serif;
  background: url('../images/waterfall.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for site-title */
    .site-title {
        background-color: rgba(0, 0, 0, .9);
        color: white;
        text-align: center;
        font-size: 32pt;
        margin:0px;
        padding: 36.9pt 36.9pt 36.9pt 36.9pt;

       

    }

header nav ul {
  list-style-type: none;
  margin: 0px 0px 25px 0px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .9);
  height:41px;
  align-items: center;
  border-color:black;
  border-bottom: solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header nav ul li {
  margin: 0 0.5in;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16pt;
}

main {
  background-color:rgba(0, 0, 0, 0.97);
  color: white;
  margin: 0 auto;
  width: 70%;
  min-height: 700px;
  padding: 20px;
  font-family: Verdana, sans-serif;
  text-align: left;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; /* Adds smooth, curved edges */

  letter-spacing:1px;

}

section {
  display:flex;
  width:80%;
  flex-direction:column;
  line-height:23px;
}

main section #internal_visionary {
  color:aqua;
  font-family: serif;
  font-weight:bold;
  font-style:italic;
  font-size:larger;
}

footer {
  margin: 25px 0px 0px 0px;
  background-color: rgba(0, 0, 0, .95);
  text-align: center;
  height: 41px;
  line-height: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-color:black;
  border-top: solid;
  
} 

footer p {
  color: white;
}


a:hover {
  color:rgb(0, 200, 133);
  transition-duration:.6s;
}

@media (max-width: 768px) {
  main {
      width: 90%;
  }

  header nav ul li {
      margin: 0 10px;
  }

  header nav ul li a {
      font-size: 14pt;
  }
}

